<footer class="footer">
   <a href="/"><img class="logo" src="/images/TramPRO LOGO.png" alt="logo"></a>

    <div class="redes-socias">
      <img class="rede face" src="/images/facebook-logo.png" alt="facebook">
      <img class="rede linkedin" src="/images/linkedim-logo.png" alt="Linkedin"><br>
      <img class="rede twitwer" src="/images/twitter-logo.png" alt="Twiter">
      <img class="rede insta" src="/images/insta-logo.png" alt="Instagram">
    </div>

     </footer>
