
    <nav id="nav">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>

    <a href="/"><label class="logo"><i id="tram-logo">Tram</i><b>Pro</b></label></a>

    <div class="search-box">
    <input class="search-text" type="search" placeholder="Qual serviço está precisando?">                                  
        <a class="search-btn" href="#"><i class="material-icons" id="search-icon">search</i></a>
      </div>

      <ul>
        <li><a class="nav-btn" href="/profile">Perfil</a></li>
        <li><a class="nav-btn" href="/trampos">Trampos</a></li>
        <li><a class="nav-btn" href="/entrar">Entrar</a></li>
      </ul>
    </nav>

    
