
    <nav id="nav">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>

    <a href="/"><label class="logo"><i id="tram-logo">Tram</i><b>Pro</b></label></a>

    <div class="search-box">
      <form action="/search" method="GET" class="search-form">
    <input class="search-text" name="keywords" type="text" placeholder="Qual serviço está precisando?">                                  
        <button type="submit" class="search-btn"><i class="material-icons" id="search-icon">search</i></button>
      </form>
      </div>

      <ul>
        <li><a class="nav-btn" href="/profile">Perfil</a></li>
        <li><a class="nav-btn" href="/trampos">Trampos</a></li>
        <li><a class="nav-btn" href="/entrar">Entrar</a></li>
      </ul>
    </nav>

    
