*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}
.passoApasso div{
margin-bottom: 30px;
text-align: center;
}
.PassoTitle{
position: relative;
bottom: 20px;
right: 30px;
}
.form-box {
margin-top: 30px;
}
.form-box div{
margin-bottom: 50px;
}
button{
border: none;
background-color: #06293D;
color: #FFF;
letter-spacing: 1px;
padding: 8px 26px;
border-radius: 3px;
cursor: pointer;
transition: .5s;
}
button:hover{
   background-color: #06293de5; 
}

h1, h3{
    color: #06293D;
}
p{
    color: #6A6A6A;
}
textarea{
outline: none;
}
main{
padding-bottom: 70px;
}


@media (max-width:610px) {
    .PassoTitle{
        position: relative;
        bottom: 20px;
       left: 50px; 
    }
}