.enviarBtn{
    border: none;
    background-color: rgb(63, 130, 99);
    padding: 8px 100px 8px 100px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;
    transition: .4s;
    }
    .enviarBtn:hover{
    background-color: rgb(72, 207, 174);
    }