section{
background:linear-gradient(45deg, #143F6A, #06293D,#256D85, #47B5FF, #3F8263);
 padding: 30px;
 animation: colors 10s ease infinite;
 background-size: 150% 150%;

}
@keyframes colors{
    0%{
      background-position: 0% 33%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 33%;
    }
    }
.container-principal{
margin-top: 50px;
padding-bottom: 50px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

legend{
    text-align: center;
    color: #062439;
    font-size: 30px;
    font-weight: bold;
}
fieldset{ 
   border: #062439 2px solid;
   border-radius: 15px;
   padding: 15px;
}
.login-container{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
background-color: aliceblue;
border-radius: 30px;
padding: 15px 15px 0px 15px;
max-height: 350px;
}
.emailLabel{
margin-left: 8px;

}
.labelGeral{
color: #062439;
font-weight:600;
font-size: 20px;
}
.input-entrar{
border: #062439 1px solid;
border-radius: 5px;
padding: 3px;
font-size: 16px;
outline-color: rgb(72, 207, 174);
}

.esqueciSenha{
text-align: center;
padding: 15px;
font-weight: bold;
color: rgb(20, 63, 106);
transition: .5s;
}
.esqueciSenha:hover{
color: #ea4335;
}
.entrarBtn{
margin-top: 50px;
border:none;
border-radius: 5px;
padding: 8px 30% 8px 30%;
font-size: 18px;
font-weight: bold;
background-color: rgb(63, 130, 99);
color: aliceblue;
cursor: pointer;
transition: .4s;
margin-left: 30px;
}
.entrarBtn:hover{
 background-color: rgb(72, 207, 174);
 }
    
    .gmail-login{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        background-color: aliceblue;  
        width: 250px;
        border-radius: 13px;
        height: 50px;
        box-shadow: 2px 2px 10px 0px rgba(0,0,0,.5);
    }
   
    .facebook-login{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        background-color: aliceblue;  
        width: 250px;
        border-radius: 13px;
       height: 50px;
       box-shadow: 2px 2px 10px 0px rgba(0,0,0,.5);  
    }
   
    .text-login{
        font-weight: lighter;
        text-align: center;
        margin-right: 30px;
        color: #062439;
        font-weight: bold;
    } 
    .facebook-text{
        color: rgb(62, 64, 149);
    }
            /*     CORES DO GMAIL */
    .g-color{
    color: #4285f4;}
    .m-color{
    color: #ea4335;}
    .a-color{
    color: #fbbc05;}
    .i-color{
    color: #4285f4;}
    .l-color{
    color: #34a853;}
               /*       <----> */

.cadastro-container{
background-color: aliceblue;
border-radius: 30px;
padding: 15px;
margin-top: 30px;
}
.inputBox{
padding: 5px;
}
.generoGrupo{
display: flex;
justify-content: space-around;
padding: 15px 0px 15px 0px;
}
.generoInput label{
font-weight: bold;
color: #062439;
font-size: 20px;
}
.cadastrarBtn{
margin: 30px 0px 0px 10%;
border:none;
border-radius: 5px;
padding: 8px 30% 8px 30%;
font-size: 18px;
font-weight: bold;
background-color: rgb(63, 130, 99);
color: aliceblue;
cursor: pointer;  
transition: .4s;
}
.cadastrarBtn:hover{
background-color: rgb(72, 207, 174);
}
.trabalharOuContratar{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.trabalharOuContratar p {
color: #062439;
font-weight:600;
}

input{
  cursor: pointer;
}
.error-box{
display: flex;
justify-content: center;
margin: 20px 0px;
}