body{
overflow-x: hidden;
margin: 0;
padding: 0;
}

.first-vp{
    background-color: rgb(40, 124, 39);
    width: 100vw;
    height: 650px;
    padding: 15px;
}
.search-container-mobile{
display:block;
flex-direction: column;
}
.search-box-mobile{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  }

  .search-text-mobile{
    background-color: aliceblue;
    width: 60%;
    height: 50px;
    border-radius: 5px;
   border-style: none;
   font-size: 30px;
   padding: 5px;
   outline: none;
  }
  .pesquisar-btn{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  }
  .search-btnMobile{
  border-radius: 5px; 
  width: 60%;
  height: 50px;
  background-color: #FDB139;
   border: none; 
   cursor: pointer;
   font-size: 25px;
   font-weight: bold;
   color: #DFF6FE;
   transition: 1s;
  }
  .search-btnMobile:hover{
background-color: #F55253;
  }
.text-area-main-mobile{
   display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
.text-1-mobile,
.text-2-mobile{
  font-size: 40px;
  margin-top: 40px;
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
}
.fazer-mobile,
.seuServico-mobile{
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  line-height: 0;
  color: rgb(253, 177, 57);
}


                                    /* COMEÇO FIRST SECTION DESKTOP */
 .container-main-desktop{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  }                                   
.text-area-main-desktop{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    float: left;
    }
   
    .text-1-desktop, .text-2-desktop{
    font-size: 50px;
    margin: 50px 50px 0px 0px;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    }

    #seuServico{
        font-family: 'Dancing Script', cursive;
        font-size: 70px;
        line-height: 0;
        color: rgb(253, 177, 57);
    }
    
    #fazer{
        font-family: 'Dancing Script', cursive;
        font-size: 70px;
        color: rgb(253, 177, 57);  
    }                                /*  INICIO AREA SLIDES*/
  
                      /* AREA DOS SLIDES TRAMPAR/CONTRATAR */
                      
.contentSlides{
display: flex;
text-align: center;

transform: translate(0%, -30%);
}                    
.slides{
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.s1{
position: relative;
top: 300px;
}
                               
  .slide-label{
    display: flex;
    justify-content: center;
  }
  .bar-slide{
    width: 50px;
    margin-top: 30px;
    margin: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
  }
  .bar-slide:hover{
    background-color:#fff;
  }
  .input-slide{
    display: none;
  }
  .trabalhar, .contratar{
    color: #fff;
    font-size: 50px;
  }
  .contratarBtnBox, .trabalharBtnBox{
    padding: 20px;
  }
  .carrosselBtn{
    background-color: white;
      border-radius: 5px;
      border: none;
      color: #062439;
      padding: 10px 20px;
      text-align: center;
      font-weight: bold;
      display: inline-block;
      font-size: 16px;  
      cursor: pointer;
  }
  
  .slides{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
                                        /*  FIM DA AREA SLIDES*/   /*  FIM DA AREA DESKTOP*/
                                          /*  SECOND VIEWPORT / ANUNCIOS */

.subtitle-anuncios{
 color: rgb(73, 81, 77);
text-align: center;
font-size: 3rem;
padding: 30px;
margin-top: 50px;
}

.subtitle-anuncios2{
color: rgb(73, 81, 77);
text-align: center;
font-size: 2rem;
padding: 10px 20px 10px 20px;
}     
                      /* VIDEOS BOX */

  .video-container-pai{
  display: flex;
  flex-direction: row-reverse;
  margin: 50px 30px;
  justify-content: space-between;
  align-items: center;
  }                 
                              /* FIM DOS VIDEOS BOX */
.info{
flex-direction: column;
margin: 30px;
}

.spn{
  align-items: baseline;
  text-align: center;
  font-size: 1.2rem;
  color: rgb(73, 81, 77);
  padding: 10px;  
}

  .str{
    font-size: 25px;
    color: rgb(59, 66, 62);
  }
                                       /*  EXPLORE CLASSES DE SERVIÇOS */
.classes-servico-box{
display: flex;
justify-content: space-around;
align-items: center;
margin: 30px;
flex-wrap: wrap;
}  
.classes-servico{
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
transition: .8s;
cursor: pointer;
}  
.classes-servico img{
width: 350px;
height: 200px;
}         
.classes-servico img:hover{
opacity: .7;
}                      
.classes-image{
width: 100%;
height: 100%;
overflow: hidden;
border-radius: 10px;
}
.servicos-description{
display: flex;
flex-direction: column;
justify-content: center;
width: 300px;
height: 100px;
text-align: center;
}
.servicos-title{
color: rgb(49, 49, 49);
}
.explore-title{
margin-left:30px;
color: rgb(56, 52, 52);
}
.nav-explore-servicos{
display: flex;
justify-content: space-between;
}
.nav-explore{
margin-right: 50px;
color: #F55253;
}
                                      /*   FIM DO MAIS PROCURADOS */
.model-preFooter{
width: 95vw;
height: 500px;
background-color: #1D6758;
display: flex;
justify-content: space-around;
align-items: center;
margin: 30px;
border-radius: 5px;
}
.image-preFooter img{
width: 600px;
height: 500px;
margin-top: 4px;
}
.textBox-preFooter{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.text-preFooter{
text-align: center;
color: #EEF1E8;
font-size: 40px;
}
.engrenagem,
.girar{
font-family: 'Dancing Script', cursive;
font-size: 60px;
color: #F55253;
}
.btn-preFooter{
font-weight: bold;
padding: 5px 10px;
margin-top: 15px;
font-size: 25px;
background-color: #F55253;
color: aliceblue;
border: none;
border-radius: 5px;
cursor: pointer;
transition: .6s;
}
.btn-preFooter:hover{
background-color: #FDB139;
}
                                      /*   MEDIA QUERIES */
 
  @media (max-width:900px){
  .image-preFooter{
  display: none;
  }
  }                                   
  @media (max-width:1100px){
    .video-container-pai{
     flex-wrap: wrap;
    }
    }
@media (max-width:700px){
  #video1{
  width: 500px;
  height: 500px;
  }
}
@media (max-width:550px){
  #video1{
  width: 450px;
  height: 450px;
  }
}
@media (max-width:450px){
  #video1{
  width: 400px;
  height: 400px;
  }
}

   @media (min-width: 1100px){
    .first-vp-mobile{
      display: none;
    }
  }

  @media (max-width: 1100px){
    .container-main-desktop{
    display: none;
    }
  }