*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto Mono', sans-serif;
}

.hidden{
display: none;
}

.hiddenBoleto{
  display: none;
  }

.containeir-principal{
display: flex;
justify-content: space-around;
margin-top: 50px;
flex-wrap: wrap;
}
.formas-de-pagamento{
background-color: #fff;
border-radius: 2px;
border: 1px solid #a3a3a3;
width: 650px;
min-width: 300px;
}

.text-pagamento-box{
background-color: #a3a3a34b;
 padding: 8px;
 border-radius: 2px;
}
.text-pagamento-box h3{
    font-size: 1rem;
    color: #6A6A6A;
    text-align: left;
    margin-left: 20px;
    height: 40px;
  display: flex;
  align-items: center;
}
.cartao-de-credito-box{
display: flex;
width: 100%;
height: 60px;
align-items: center;
border-top: 1px solid #6a6a6a91;
box-shadow: 0px 1px 1px  #6A6A6A;
}
.cartao-de-credito{
padding: 8px;
margin-left: 22px;
}
 label{
font-weight: bold;
color: #6A6A6A;
cursor: pointer;
}
.bandeira-cartao-img{
width: 30px;
height: 20px;
margin-left: 20px;
}
.info-cartao{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items:center;
background-color: #a3a3a34b;
padding: 8px;
flex-wrap: wrap;
}
.validade-box, .codigo-seguranca-box{
margin-bottom: 13px;
}
.validade-box, .securityCode-box, .numero-cartao-box label{
color: #6A6A6A;
text-align: center;
font-weight: bold;
}
.container-cartao{
flex-wrap: wrap;
}
input{
  cursor: pointer;
}
.info-cartao input,
.info-usuario-cartao input{

    outline: none;
    height: 40px;
    font-size: 20px;
}

.codigo-seguranca-cartao{
width: 60px;
}
.validade-cartao{
width: 100px;
}

.info-usuario-cartao{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
background-color: #a3a3a34b;
}
.info-usuario-cartao div{
padding: 8px;
}
.more-info-payment{
padding: 20px;
width: 100%;
}


                                    /* REVISAO DO SERVICO */

.revisao-do-servico{
  background-color: #a3a3a34b;
  padding: 30px;
  border-radius: 15px 15px 0px 0px;
  min-width: 300px;
  max-width: 500px;
}
.revisao-do-servico p{
color: #6A6A6A;
font-weight: bold;
}
.foto-nome{
overflow: hidden;
display: flex;
justify-content: center;
padding: 10px;
}
.imgDoServico{
border-radius: 15px;
}
.descricaoNome{
  text-align: center;
  padding: 5px;
}
.descricao{
text-align: center;
padding: 5px;
}
.txt-descricao{
  overflow-wrap: break-word;
}
.nome{
text-align: center;
padding: 5px;
}
.nome-servico{
  text-align: center;
  padding: 8px;
}
.comprar{
  margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
}
.valor-final{
display: flex;
justify-content: space-between;
margin: 10px;
}
.total p{
font-size: 20px;
}
.valor p{
color: brown;
font-size: 20px;
}
.button-payment {
width: 100%;
display: flex;
justify-content: center;
}
.button-payment button{
outline: none;
border: none;
background-color: #1D6758;
border-radius: 6px;
transition: .4s;
font-size: 25px;
font-weight: bold;
padding: 10px;
width: 40%;
color: #fff;
cursor: pointer;
margin: 15px;
}
.finalizar-btn:hover{
background-color: #3F8263;
}
.dataDoServico{
text-align: center;
}
