<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TramPro</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/addTrampo.css">
    <link rel="icon" type="image/x-icon" href="/images/TramPRO icon aba.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Great+Vibes&family=Pacifico&family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>

  <%- include('./partials/header') %>

  <main>
<div class="container-PaideTodos">
<div class="passoApasso-box">

        <div class="passo-1-box">
    <div class="passo-1">
<h3 class="title">Passo a Passo</h3>
<p>Faça um pequeno texto que descreva sua capacitação, <br>
oque você faz de melhor e quanto tempo você tem de experiência.</p>
    </div>
<div class="passo1-content">
<form action="#" method="post">
 <textarea class="form descreva" name="text" id="text" placeholder="Descreva suas habilidades"></textarea>
</form>
</div>
        </div>

        <div class="passo-2-box">
    <div class="passo-2">
<p>Defina uma categoria principal e uma <br>
    sub-categoria do seu ramo, seja o mais preciso possivel.</p>
    </div>
<div class="passo2-content">
<a class="btn" href="#">Sub-Categoria</a>
<a class="btn" href="#">Categoria</a>
</div>
        </div>

<div class="passo-3-box">
    <div class="passo-3">
<p>Por fim adicione palavras-chave que descreva <br>
    o seu ramo e com oque você deseja trabalhar!!!</p>
    </div>
<div class="passo3-content">
<form action="/contact" method="post">
 <textarea class="form palavras-chave" name="text" id="text" placeholder="Adicione palavras chave"></textarea>
</form>
</div>
</div>

<div class="btn-salvar-box">
<a href="#"><button class="btn-salvar">Salvar</button></a>
</div>

</div>

</div>









<%- include('./partials/footer') %>
</body>
</html>