<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/error404.css">
    <link rel="icon" type="image/x-icon" href="/images/TramPRO icon aba.png">
    <title>Error 404</title>
</head>
<body>

    <h1> Ops, algo deu errado!</h1>

    

	<h1><%= message %></h1>
	<h2><%= error.status %></h2>
	<p>Error trying to access to: <b><%= path %></b></p>
	<pre><i><%= error.stack %></i></pre>


    <a class="returnError" href="/">Retornar ao inicio</a>

    <div class="errorContainer">
    <img class="error-img" src="/images/ImagePI_Ops, deu algo errado.png" alt="Error">
</div>

</body>
</html>