<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da busca</title>
</head>
<body>
    <div class="container servicos-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="servicos-title">Resultados da sua busca: <%= search %></h2>
			</div> -->
	<% products.forEach(function(sevico){ 
				let finalPrice = (servico.price * ((100 - servico.discount) / 100)).toFixed(0)	
			%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="servicos-box">
						<a href="#">
							<figure class="servicos-box_image">
								<img src="#" alt="imagem do serviço">
							</figure>
							<article class="servico-box_data">
								<h2><%= toThousand(finalPrice) %> </h2>
								<span><%= servico.discount %> %OFF</span>
								<p><%= servico.name %></p>
								<i class="fas fa-truck"></i>
							</article>
						</a>
					</section>
				</div>
			<% }) %> 
		<div class="col-12">
				<h2 class="products-title" style="color: tomato;">Não há produtos que correspondam a esta pesquisa</h2>
			</div>
		</div>
	</div>
</body>
</html>